<div class="">
          <div class="signup-form col-md-4 order-md-1">
            <h4 class="mb-3">Welcome Back</h4>
            <form class="needs-validation" (ngSubmit)="onSubmit(signupForm)" #signupForm="ngForm" >

              <div class="mb-3">
                <label for="username">Email</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="username" placeholder="example@gmail.com"
                   [(ngModel)]="model.email" name="username" required>
                  <div class="invalid-feedback" style="width: 100%;">
                    Your email is required.
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <label for="password">Password</label>
                <div class="input-group">
                  <input type="password" class="form-control" id="password" placeholder="Password"
                   [(ngModel)]="model.password" name="password" required>
                  <div class="invalid-feedback" style="width: 100%;">
                    Your password is required.
                  </div>
                </div>
              </div>

              <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!signupForm.form.valid" >Sign In</button>
            </form>
          </div>

</div>
