<div class="">
          <div class="signup-form col-md-8 order-md-1">

            <div class="alert alert-warning" *ngIf="alertShow" role="alert">
              {{alertMessage}}
            </div>

            <h4 class="mb-3">Personal Information</h4>
            <form class="needs-validation" (ngSubmit)="onSubmit(signupForm)" #signupForm="ngForm" >
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="firstName">First name</label>
                  <input type="text" class="form-control" id="firstName" placeholder="" value=""
                  [(ngModel)]="model.firstName" name="firstName" #firstName="ngModel" required>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="lastName">Last name</label>
                  <input type="text" class="form-control" id="lastName" placeholder="" value=""
                   [(ngModel)]="model.lastName" name="lastName"required>
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <label for="password">Password</label>
                <div class="input-group">
                  <input type="password" class="form-control" id="password" placeholder="Password"
                   [(ngModel)]="model.password" name="password" required>
                  <div class="invalid-feedback" style="width: 100%;">
                    Your password is required.
                  </div>
                </div>
              </div>


              <div class="mb-3">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email"
                [(ngModel)]="model.email" name="email" [pattern]="emailPattern" placeholder="you@example.com" required>
                <div class="invalid-feedback">
                  Please enter a valid email address.
                </div>
              </div>

              <div class="mb-3">
                <label for="telephone">Phone</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="telephone" placeholder="XXX-XXX-XXXX"
                  [(ngModel)]="model.telephone" name="telephone" #tel="ngModel" [pattern]="phonePattern" required>
                  <div [hidden]="tel.valid || tel.pristine" class="alert alert-danger" style="width: 100%;">
                    Your phone number should be formatted as XXX-XXX-XXXX.
                  </div>
                </div>
              </div>



              <div class="mb-3">
                <label for="ssn">SSN (Social Secruity Number)</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="ssn" placeholder="XXX-XX-XXXX"
                  [(ngModel)]="model.ssn" name="ssn" #ssn="ngModel" [pattern]="ssnPattern" required>
                  <div [hidden]="ssn.valid || ssn.pristine" class="alert alert-danger" style="width: 100%;">
                    Your SSN should be formatted as XXX-XX-XXXX.
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="street" placeholder="1234 Main St"
                [(ngModel)]="model.street" name="Address" required>
                <div class="invalid-feedback">
                  Please enter your address.
                </div>
              </div>

              <div class="row">
                <div class="col-md-4 mb-2">
                  <label for="city">State</label>
                  <input type="text" class="form-control" id="state" placeholder=""
                  [(ngModel)]="model.state" name="state" required>
                  <div class="invalid-feedback">
                    Please provide a state.
                  </div>
                </div>
                <div class="col-md-4 mb-2">
                  <label for="city">City</label>
                  <input type="text" class="form-control" id="city" placeholder=""
                  [(ngModel)]="model.city" name="city" required>
                  <div class="invalid-feedback">
                    Please provide a city.
                  </div>
                </div>
                <div class="col-md-4 mb-2">
                  <label for="zip">Zip</label>
                  <input type="text" class="form-control" id="zip" placeholder=""
                  [(ngModel)]="model.zipcode" name="zipcode" required>
                  <div class="invalid-feedback">
                    Zip code required.
                  </div>
                </div>
              </div>
              <br>

              <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!signupForm.form.valid" >Create Account</button>
            </form>
          </div>

</div>
