<div class="profile">
  <div *ngIf="userHasNoAccounts">
    <div class="jumbotron">
      <h1 class="display-4">Hey, {{userData[0].firstName + " " + userData[0].lastName}}</h1>
      <p class="lead">Looks like you haven't create an dating account yet. Click the button below to create an account so you start creating profiles and find dates!</p>
      <hr class="my-4">
      <p>You will need your credit card information when creating a new account.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="account" role="button">Create Account</a>
      </p>
    </div>
  </div>

  <div *ngIf="!userHasNoAccounts">
    <div class="row">
      <div class="col-md-4 order-md-1">
              <div class="account-form">
                <div class="row header">
                  <div class="col-sm-8">
                    <h4 class="sm-8">{{dashboardMessage}}</h4>
                  </div>
                  <div class="col-sm-4">
                    <button type="button" *ngIf="editMode" (click)="doneEditing()"
                    class="btn btn-outline-danger edit">Close Editing</button>
                  </div>
                </div>

                <div class="alert alert-warning" *ngIf="alertShow" role="alert">
                  {{alertMessage}}
                </div>

                <div class="alert alert-success" *ngIf="alertSuccess" role="alert">
                  {{alertMessage}}
                </div>

                <form class="needs-validation" (ngSubmit)="onSubmit(signupForm)" #signupForm="ngForm" >
                  <br>
                  <div class="mb-3 row">

                    <label for="age" class="col-sm-12 h5">Personal Information</label>
                    <br>
                    <div class="col-sm-12">
                      <label for="age">Profile Name</label>
                      <input type="text" class="form-control" id="profileName"
                      [(ngModel)]="profile.profileName" name="profileName" placeholder="Profile Name" required>
                      <div class="invalid-feedback">
                        Please enter a profile name.
                      </div>
                    </div>

                    <div class="col-sm-12">
                      <label for="age">Age</label>
                      <input type="text" class="form-control" id="age"
                      [(ngModel)]="profile.age" name="age" placeholder="Age" required>
                      <div class="invalid-feedback">
                        Please enter your age.
                      </div>
                    </div>

                    <div class="col-sm-12">
                      <label for="m_f">Gender</label>
                      <select class="custom-select d-block w-100" id="m_f"
                      [(ngModel)]="profile.m_f" name="m_f" required>
                        <option value="">Choose...</option>
                        <option>Male</option>
                        <option>Female</option>
                        <option>Other</option>
                      </select>
                      <div class="invalid-feedback">
                        Please pick your gender.
                      </div>
                    </div>

                    <div class="col-sm-12">
                      <label for="age">Weight</label>
                      <input type="text" class="form-control" id="weight"
                      [(ngModel)]="profile.weight" name="weight" placeholder="120" required>
                      <div class="invalid-feedback">
                        Please enter your weight.
                      </div>
                    </div>

                    <div class="col-sm-12">
                      <label for="age">Height</label>
                      <input type="text" class="form-control" id="height"
                      [(ngModel)]="profile.height" name="height" placeholder="5.7" required>
                      <div class="invalid-feedback">
                        Please enter your height.
                      </div>
                    </div>

                    <div class="col-sm-12">
                      <label for="age">Hair Color</label>
                      <input type="text" class="form-control" id="hairColor"
                      [(ngModel)]="profile.hairColor" name="hairColor" placeholder="Black" required>
                      <div class="invalid-feedback">
                        Please enter your hair color.
                      </div>
                    </div>

                    <div class="col-sm-12">
                      <label for="age">Hobbies</label>
                      <textarea type="textarea" class="form-control" id="hobbies"
                      [(ngModel)]="profile.hobbies" name="hobbies" placeholder="Painting, Drawing.." required></textarea>
                      <div class="invalid-feedback">
                        Please enter your hobbies.
                      </div>
                    </div>

                  </div>
                  <br>

                  <div class="mb-3 row">
                    <label for="age" class="col-sm-12 h5">Dating Age Range</label>
                    <br>
                      <div class="col-sm-6">
                        <label for="">Start</label>
                        <input type="text" class="form-control" id="datingAgeRangeStart"
                        [(ngModel)]="profile.datingAgeRangeStart" name="datingAgeRangeStart" placeholder="Start Age" required>
                      </div>
                      <div class="col-sm-6">
                        <label for="email">End</label>
                        <input type="text" class="form-control" id="datingAgeRangeEnd"
                        [(ngModel)]="profile.datingAgeRangeEnd" name="datingAgeRangeEnd" placeholder="End Age" required>
                      </div>
                  </div>
                  <br>

                  <div class="mb-3 row">
                    <label for="age" class="col-sm-12 h5">Dating Geo Range</label>
                    <br>
                    <div class="col-sm-12">
                      <label for="geo">Geo Range: {{profile.datingGeoRange}} miles</label>
                      <input type="range" min="1" max="100" class="form-control slider" id="datingGeoRange"
                      [(ngModel)]="profile.datingGeoRange"  name="datingGeoRange" value="1" required>
                    </div>
                  </div>

                  <br>
                  <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!signupForm.form.valid">{{dashboardBtnMessage}}</button>
                </form>
              </div>
      </div>
      <div class="col-md-8 order-md-1">
              <div class="account-form">
                <h4 class="mb-3">Profiles</h4>

                <div class="row mb-3">
                  <div class="col-sm-3">
                    <button class="btn btn-outline-primary"  (click)="filterByMostActive()" [ngClass]="{'btn-primary-s' : filterByMostActiveBool}">Order by Most Active</button>
                    </div>


                </div>


                <div *ngIf="userHasNoProfiles">
                  <div class="jumbotron">
                    <h1 class="display-4">No Profiles.</h1>
                    <p class="lead">Looks like you haven't any profiles yet. account yet.
                    Create a new profile to start finding matches!</p>
                    <hr class="my-4">
                    <p>You can create as many profiles as you like.</p>
                  </div>
                </div>

                <div class="alert alert-warning" *ngIf="ccAlert" role="alert">
                  Please enter a valid credit-card number
                </div>

                <div *ngIf="userProfiles" class="row card-columns">
                  <div *ngFor="let profile of userProfiles" class="col-sm-6">
                    <div class="card">
                       <div [ngClass]="{'bg-primary text-white' : activeProfileCheck(profile)}" class="card-body">
                         <h5 class="card-title">{{profile.profileName}}</h5>
                       </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                         Age
                        <button class="btn btn-outline-primary">{{profile.age}} years old</button>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          Weight
                        <button class="btn btn-outline-primary">{{profile.weight}} lbs</button>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          Height
                        <button class="btn btn-outline-primary">{{profile.height}} feet</button>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          Age Range
                        <button class="btn btn-outline-primary">{{profile.datingAgeRangeStart}}
                        to {{profile.datingAgeRangeEnd}} year olds</button>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          Geo Range
                        <button class="btn btn-outline-primary">{{profile.datingGeoRange}} miles</button>
                        </li>
                        <li class="list-group-item ">
                          <button *ngFor="let hobbie of profile.hobbiesList"  type="button" class="btn btn-outline-primary hobbies">{{hobbie}}</button>
                        </li>
                      </ul>
                      <div class="card-footer">
                        <button (click)="useProfile(profile)" class="btn btn-outline-primary" [ngClass]="{'btn-primary-s' : activeProfileCheck(profile)}">{{getBtnMessageActive(profile)}}</button>
                        <button (click)="editProfile(profile)" class="btn btn-outline-primary" [ngClass]="{'btn-primary-s' : editProfileCheck(profile)}">{{getBtnMessageEdit(profile)}}</button>
                        <button (click)="setDelProfile(profile)" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteMod" >Delete</button>
                      </div>
                      <div class="card-footer text-muted">
                        Last Edited {{timeSince(profile.lastModDate)}} ago
                      </div>
                    </div>
                  </div>
                </div>

              </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="deleteMod" tabindex="-1" role="dialog" aria-labelledby="DeleteModual" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Deleting Profile</h5>
        <button type="button" (click)="delToggle = false; delMessage = ''" class="close"  data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="!delToggle">
            Are you sure you want to delete this profile?
        </div>
        <div class="alert alert-warning" *ngIf="delToggle" role="alert">
          {{delMessage}}
        </div>
      </div>
      <div *ngIf="!delToggle" class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" (click)="deleteProfile()" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>

</div>
