<div class="favorites">
  <div *ngIf="loaded && currentProfileNull">
    <div class="jumbotron">
      <h1 class="display-4">You have not selected a profile to use.</h1>
      <p class="lead">You need to select a profile to search for other profiles.</p>
      <hr class="my-4">
      <p>Create a profile by going to my profiles. Make sure to create an account first to create profiles.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="account" role="button">Create Account</a>
      </p>
    </div>
  </div>

  <div *ngIf="!currentProfileNull">
    <div class="row">
      <div class="col-md-2 order-md-1">
              <div class="row">
                <div (click)="updatesActivePage(4)" class="col-sm-8 order-md-1 active" [ngClass]="{'text-muted-2': !activePageCheck(4)}">
                  <h4 class="mb-3">Today</h4>
                </div>
                  <div (click)="updatesActivePage(0)" class=" col-sm-8 order-md-1 active" [ngClass]="{'text-muted-2': !activePageCheck(0)}">
                    <h4 class="mb-3">Upcoming</h4>
                  </div>
                  <div (click)="updatesActivePage(1)" class=" col-sm-8 order-md-1 active" [ngClass]="{'text-muted-2': !activePageCheck(1)}">
                    <h4 class="mb-3">Waiting</h4>
                  </div>
                  <div (click)="updatesActivePage(2)" class=" col-sm-8 order-md-1 active" [ngClass]="{'text-muted-2': !activePageCheck(2)}">
                    <h4 class="mb-3">Requests</h4>
                  </div>
                  <div (click)="updatesActivePage(3)" class=" col-sm-8 order-md-1 active" [ngClass]="{'text-muted-2': !activePageCheck(3)}">
                    <h4 class="mb-3">Past</h4>
                  </div>
                  <div (click)="updatesActivePage(5)" class=" col-sm-8 order-md-1 active" [ngClass]="{'text-muted-2': !activePageCheck(5)}">
                    <h4 class="mb-3">Blind</h4>
                  </div>

                  <div (click)="updatesActivePage(6)" class=" col-sm-8 order-md-1 active" [ngClass]="{'text-muted-2': !activePageCheck(6)}">
                    <h4 class="mb-3">Suggestions</h4>
                  </div>

              </div>
            </div>


          <div class="col-md-10 order-md-1">

                <br>
                <div class="alert alert-success" *ngIf="datingSucces || datingAlert" [ngClass]="{'alert-warning': datingAlert}" role="alert">
                  {{datingAlertMsg}}
                </div>

                <div *ngIf="loaded && upcomingDates.length == 0 && activePageCheck(0)">
                  <div class="jumbotron">
                    <h1 class="display-4">You have no upcoming dates.</h1>
                    <p class="lead">Looks like you don't have any confirmed dates.</p>
                    <hr class="my-4">
                    <p>All upcoming dates will be displayed here.</p>
                  </div>
                </div>

                <div *ngIf="loaded && suggestions.length == 0 && activePageCheck(6)">
                  <div class="jumbotron">
                    <h1 class="display-4">You have no suggestions.</h1>
                    <p class="lead">Looks our Customer Representatives haven't suggested anyone for you.</p>
                    <hr class="my-4">
                    <p>All suggestions will be displayed here.</p>
                  </div>
                </div>


                <div *ngIf="loaded && todayDates.length == 0 && activePageCheck(4)">
                  <div class="jumbotron">
                    <h1 class="display-4">You have no dates today.</h1>
                    <p class="lead">Check in upcoming dates to see when your next date is.</p>
                    <hr class="my-4">
                    <p>All dates which will occur today will be displayed here.</p>
                  </div>
                </div>

                <div *ngIf="loaded && requestsSentDates.length == 0 && activePageCheck(1)">
                  <div class="jumbotron">
                    <h1 class="display-4">You currently have not send any date requests.</h1>
                    <p class="lead">Search for profiles and send some date requests.</p>
                    <hr class="my-4">
                    <p>All date requests you sent will be displayed here.</p>
                  </div>
                </div>

                <div *ngIf="loaded && requestDates.length == 0 && activePageCheck(2)">
                  <div class="jumbotron">
                    <h1 class="display-4">You currently have no date requests.</h1>
                    <p class="lead">Looks like no one has asked you out on a date right now.</p>
                    <hr class="my-4">
                    <p>All request dates will be displayed here.</p>
                  </div>
                </div>

                <div *ngIf="loaded && pastDates.length == 0 && activePageCheck(3)">
                  <div class="jumbotron">
                    <h1 class="display-4">You have no past dates.</h1>
                    <p class="lead">Looks like you haven't gone in any dates yet.</p>
                    <hr class="my-4">
                    <p>All past dates will be displayed here.</p>
                  </div>
                </div>

                <div *ngIf="loaded && blindDates.length == 0 && activePageCheck(5)">
                  <div class="jumbotron">
                    <h1 class="display-4">You have no blind dates.</h1>
                    <p class="lead">Looks no one has set you up for a blind date.</p>
                    <hr class="my-4">
                    <p>All blind dates will be displayed here.</p>
                  </div>
                </div>

                <div *ngIf="blindDates.length > 0 && activePageCheck(5)" class="row data-box">
                  <div *ngFor="let date of blindDates" class="col-sm-6 accCard">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">{{date.profilC.user.person.firstName}} {{date.profileC.user.person.lastName}} </h5>
                      </div>

                        <ul class="list-group list-group-flush">
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                           Profile A
                           <button class="btn btn-outline-primary">{{date.profileA.user.person.firstName}} {{date.profileA.user.person.lastName}}</button>
                         </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                           Profile B
                           <button class="btn btn-outline-primary">{{date.profileB.user.person.firstName}} {{date.profileB.user.person.lastName}}</button>
                         </li>
                        </ul>
                    </div>
                  </div>
                </div>

                <div *ngIf="suggestions.length > 0  && activePageCheck(6)" class="row data-box">
                  <div *ngFor="let suggest of suggestions" class="col-sm-6 accCard">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Customer Representative: {{suggest.id.custRep.person.firstName}} {{suggest.id.custRep.person.lastName}} </h5>
                      </div>

                        <ul class="list-group list-group-flush">
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                           Profile A
                           <button class="btn btn-outline-primary">{{suggest.id.profile1.user.person.firstName}} {{suggest.id.profile1.user.person.lastName}}</button>
                         </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                           Profile B
                           <button class="btn btn-outline-primary">{{suggest.id.profile2.user.person.firstName}} {{suggest.id.profile2.user.person.lastName}}</button>
                         </li>
                        </ul>
                    </div>
                  </div>
                </div>


              <div class="row">
                <div class="col-md-12 order-md-1">
                        <div class="account-form">
                          <div *ngIf="displayDates.length > 0 && !activePageCheck(6) && !activePageCheck(5)" class="row">
                            <div *ngFor="let date of displayDates" class="col-sm-4 accCard">
                              <div class="card">
                                <div class="card-body"  >
                                  <h5 class="card-title">{{getDatesTime(date.dateKey.dateTime)}}</h5>
                                </div>
                                <ul  class="list-group list-group-flush">
                                  <li class="list-group-item d-flex justify-content-between align-items-center">
                                   With
                                  <button class="btn btn-outline-primary">{{getDateWithName(date)}}</button>
                                  </li>
                                  <li class="list-group-item d-flex justify-content-between align-items-center">
                                   At
                                  <button class="btn btn-outline-primary">{{date.location}}</button>
                                  </li>
                                  <li *ngIf="!activePageCheck(4)" class="list-group-item d-flex justify-content-between align-items-center">
                                   Time
                                  <button class="btn btn-outline-primary">{{getTime(date.dateKey.dateTime)}}</button>
                                  </li>
                                  <li class="list-group-item d-flex justify-content-between align-items-center">
                                   Cost
                                  <button class="btn btn-outline-primary">$ {{date.bookingFee}}</button>
                                  </li>
                                  <li *ngIf="activePageCheck(3)" class="list-group-item d-flex justify-content-between align-items-center">
                                   Partner Rated
                                  <button class="btn btn-outline-primary">{{getDateRating(date, 1)}}</button>
                                  </li>
                                  <li *ngIf="activePageCheck(3)" class="list-group-item d-flex justify-content-between align-items-center">
                                   Your Rating
                                    <button class="btn btn-outline-primary">{{getDateRating(date, 0)}}</button>
                                  </li>
                                </ul>
                                <div class="card-footer" *ngIf="!activePageCheck(1) && !activePageCheck(2)">
                                  <button class="btn btn-outline-primary" (click)="cancelDate(date)" *ngIf="activePageCheck(0)"> Cancel Date</button>
                                  <button class="btn btn-outline-primary" (click)="acceptDate(date)" *ngIf="activePageCheck(2)"> Accept Date</button>
                                  <button class="btn btn-outline-primary" (click)="rejectDate(date)" *ngIf="activePageCheck(2)"> Reject Date</button>
                                  <button class="btn btn-outline-primary" (click)="viewComments(date)" *ngIf="activePageCheck(0) || activePageCheck(4) || activePageCheck(3) " data-toggle="modal" data-target="#commentModal">Comments</button>
                                  <button class="btn btn-outline-primary" (click)="setActiveDate(date)" *ngIf="activePageCheck(3) " data-toggle="modal" data-target="#commentModal">Rate Date</button>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                </div>

              </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div *ngIf="ratingToggle">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Rate</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="alert alert-success" *ngIf="rateAlert || rateWarning" [ngClass]="{'alert-warning': rateWarning}" role="alert">
            {{rateMessage}}
          </div>
          <div class="comment-box">
            <form class="needs-validation" (ngSubmit)="updateRating()" #ratingForm="ngForm" >

              <div class="mb-3">
                <label for="rating">Rate Your Date</label>
                <select class="custom-select d-block w-100" id="rating"
                [(ngModel)]="rating" name="rating" required>
                  <option value="0">Choose...</option>
                  <option value="1">Poor</option>
                  <option value="2">Fair</option>
                  <option value="3">Good</option>
                  <option value="4">Very Good</option>
                  <option value="5">Excellent</option>
                </select>
              </div>

<br><br>
              <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!ratingForm.form.valid">Submit Rating</button>
            </form>
          </div>
        </div>
      </div>
      <div *ngIf="!ratingToggle">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card comment-box overflow-box">
            <div class="card-body comment"  *ngFor="let comment of dateComments"
              [ngClass]="{'bg-primary-s text-white': checkIfUserComment(comment),
              'bg-light': !checkIfUserComment(comment) }">
              {{displayComment(comment)}}
          </div>
        </div>

          <div class="comment-box">
            <form class="needs-validation" (ngSubmit)="onSubmit(addComment)" #addComment="ngForm" >

              <div class="mb-3">
                <label for="date"></label>
                <textarea type="text" class="form-control" id="comments"
                [(ngModel)]="comment" name="ccNum" placeholder="Add your comment here" required></textarea>
              </div>

              <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!addComment.form.valid">Add Comment</button>
            </form>
          </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
  </div>




</div>
