<div class="accounts">
  <div class="row">
    <div class="col-md-4 order-md-1">
            <div class="account-form">
              <div class="row header">
                <div class="col-sm-8">
                  <h4 class="sm-8" (click)="setActivePage(0)" [ngClass]="{'text-muted-2': !activePage(0)}">Find Revenue by Dates by Date</h4>
                </div>
                <div class="col-sm-8">
                  <h4 class="sm-8" (click)="setActivePage(1)" [ngClass]="{'text-muted-2': !activePage(1)}">Find Revenue by Dates by User</h4>
                </div>
                <div class="col-sm-8">
                  <h4 class="sm-8" (click)="setActivePage(2)" [ngClass]="{'text-muted-2': !activePage(2)}">Find Highest Revenue Generating User</h4>
                </div>
                <div class="col-sm-8">
                  <h4 class="sm-8" (click)="setActivePage(3)" [ngClass]="{'text-muted-2': !activePage(3)}">Find Highest Revenue Generating Customer Rep</h4>
                </div>
              </div>
              <br>


            </div>
    </div>
    <div class="col-md-8 order-md-1">
            <div class="account-form">
              <h4 class="mb-3">Result</h4>

              <div class="alert alert-success" *ngIf="reportAlert || reportWarning" [ngClass]="{'alert-warning': reportWarning}" role="alert">
               {{reportMsg}}
              </div>

              <form class="col-md-4" class="needs-validation" *ngIf="activePage(0)" (ngSubmit)="getByDate(signupForm)" #signupForm="ngForm" >

                <div class="row">
                  <div class="col-md-4">
                    <div class="mb-3">
                      <label for="email">From Year</label>
                      <input type="text" class="form-control" id="acctName"
                      [(ngModel)]="startYear" name="year" placeholder="Year" required>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="mb-3">
                      <label for="rating">From Month</label>
                      <select class="custom-select d-block w-100" id="rating"
                      [(ngModel)]="startMonth" name="rating" required>
                        <option value="0">Choose...</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="mb-3">
                      <label for="email">From Date</label>
                      <input  type="text" class="form-control" id="acctName"
                      [(ngModel)]="startDate" name="year" placeholder="Date" required>
                    </div>
                  </div>

                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="mb-3">
                      <label for="email">To Year</label>
                      <input  type="text" class="form-control" id="acctName"
                      [(ngModel)]="endYear" name="year" placeholder="Year" required>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="mb-3">
                      <label for="rating">To Month</label>
                      <select class="custom-select d-block w-100" id="rating"
                      [(ngModel)]="endMonth" name="rating" required>
                        <option value="0">Choose...</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                                    <div class="mb-3">
                                      <label for="email">To Date</label>
                                      <input type="text" class="form-control" id="acctName"
                                      [(ngModel)]="endDate" name="year" placeholder="Date" required>
                                    </div>

                  </div>
                </div>



                <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!signupForm.form.valid">Search</button>
              </form>

              <form class="col-md-12" class="needs-validation" *ngIf="activePage(1)" (ngSubmit)="setBestUser(signupForm)" #userForm="ngForm" >

                <div class="row">
                  <div class="col-md-12">
                    <div class="mb-3">
                      <label for="bestUser">Pick User</label>
                      <select  class="custom-select d-block w-100" id="bestUser"
                      [(ngModel)]="bestUser" name="rating" required>

                        <option *ngFor="let users of allUsers" [ngValue]="users"> {{users.user.person.firstName}} {{users.user.person.lastName}}  </option>
                        </select>
                    </div>
                  </div>

                </div>

                  </form>


              <br>

              <div *ngIf="">
                <div class="jumbotron">
                  <h1 class="display-4">No Revenue Report found</h1>
                  <p class="lead">Either you have not yet submited a query get report or there is no data in the database for given parameters.</p>
                  <hr class="my-4">

                </div>
              </div>



              <div *ngIf="bestUser && (activePage(2) || activePage(1) )" class="row data-box">
                  <div class="card col-md-12">
                    <div class="card-body"  >
                      <h5 class="card-title">{{bestUser.user.person.firstName}} {{bestUser.user.person.lastName}}</h5>
                    </div>
                    <ul  class="list-group list-group-flush">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                       Total Revenue Generated
                      <button class="btn btn-outline-primary">$ {{bestUser.totalFee}}</button>
                      </li>
                    </ul>
                  </div>
              </div>

              <div *ngIf="bestCustRep && activePage(3)" class="row data-box">
                  <div class="card col-md-12">
                    <div class="card-body"  >
                      <h5 class="card-title">{{bestCustRep.custRep.person.firstName}} {{bestCustRep.custRep.person.lastName}}</h5>
                    </div>
                    <ul  class="list-group list-group-flush">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                       Total Revenue Generated
                      <button class="btn btn-outline-primary">$ {{bestCustRep.bookingFees}}</button>
                      </li>
                    </ul>
                  </div>
              </div>

              <div *ngIf="revenueByDate && activePage(0)" class="row data-box">
                  <div class="card col-md-12">
                    <div class="card-body"  >
                      <h5 class="card-title">By Dates</h5>
                    </div>
                    <ul  class="list-group list-group-flush">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                       Total Revenue Generated
                      <button class="btn btn-outline-primary">$ {{revenueByDate.totalFee}}</button>
                      </li>
                    </ul>
                  </div>
              </div>



            </div>
    </div>
  </div>




</div>
